- unique_id ||= randomNum
- @gallery_options = { header: false, removable: false }
- @figure_options = { header: true, removable: true }

= form_for @page do |f|
  - if @page.errors.any?
    #error-explanation
      %h1
        = "#{pluralize(@page.errors.count, "error")} prohibited this page from being saved:"
      %ol
        - @page.errors.full_messages.each do |msg|
          %li
            = msg

  %fieldset
    %legend
      Page

    .field.required
      = f.label :skin_id, "Skin"
      = f.select :skin_id, Skin.all.collect{|t| [t.title, t.id]}

    .field.required
      = f.label :name
      = f.text_field :name

    .field
      = f.label :title
      = f.text_field :title

    .field
      = f.cktext_area :content


  %fieldset{id: "galleries-fields"}
    %legend
      Gallery

    #galleries.singular-addable
      .addable-group
        = f.fields_for :galleries, false do |gallery|
          = render 'galleries/gallery_fields', f: gallery, options: @gallery_options
      
      - if f.object.galleries.blank?
        .addable.admin-submit-button
          = link_to_add_fields({ name: "Add Gallery", f: f, association: :galleries, nested: [ { association: :figures, nested: [ { association: :images } ] } ],  container: "galleries",  options: @gallery_options })


  %fieldset{id: "figures-fields"}
    %legend
      Figures

    #figures.nested
      .addable-group
        = f.fields_for :figures, false do |figure|
          = render 'figures/figure_fields', f: figure, options: @figure_options
      .addable.admin-submit-button
        = link_to_add_fields({ name: "Add Figure", f: f, association: :figures, nested: [ { association: :images } ], container: "figures", options: @figure_options })
      
  .actions
    = f.submit 'Save'


